**/db
**/incremental_db
**/toolssystem
**/.qsys_edit
**/output_files
eclipse-workspace
**/obj
**/HAL
**/drivers
**.map
**.elf
**.objdump
lab01/software/led_counter_bsp
lab01/software/led_counter/.settings
lab01/software/led_counter/Makefile
lab01/software/led_counter/create-this-app
lab01/software/led_counter/readme.txt
