**/db
**/incremental_db
**/toolssystem
**/.qsys_edit
**/output_files
eclipse-workspace
**/obj
**/HAL
**/drivers
**.map
**.elf
**.objdump
lab01/software/*/.settings
lab01/software/*/Makefile
lab01/ParallelPort_hw.tcl
lab01/ParallelPort_hw.tcl~
lab01/lcd_interface_hw.tcl
lab01/lcd_interface_hw.tcl~
lab01/sim
lab01/software/*bsp
dma/sim/output
dma/dma
dma/qsys/*.tcl*
dma/software/lcd-dma-bsp
edge-detection/quartus_project/base_system/synthesis
edge-detection/quartus_project/base_system
edge-detection/quartus_project/mse_demo.qsf
edge-detection/quartus_project/mse_demo.qws
edge-detection/software/sobel-bsp
edge-detection/software/sobel/.settings
edge-detection/software/sobel/.project
edge-detection/software/sobel/.cproject
