**/db
**/incremental_db
**/toolssystem
**/.qsys_edit
**/output_files
eclipse-workspace
**/obj
**/HAL
**/drivers
**.map
**.elf
**.objdump
lab01/software/*/.settings
lab01/software/*/Makefile
lab01/ParallelPort_hw.tcl
lab01/ParallelPort_hw.tcl~
lab01/lcd_interface_hw.tcl
lab01/lcd_interface_hw.tcl~
lab01/sim
lab01/software/*bsp
dma/sim/output
dma/dma
